*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.container a{
    text-decoration: none;
    color: rgb(249, 249, 249);
}.nav-bar{
    background-color: rgb(45, 62, 75);
    padding: 30px;
    box-shadow: 100px;
}
a:hover{
    color: rgb(207, 77, 17);
}
.form-style{
    padding: 6rem;
    background-color: azure;
}
.hhead{
    color:rgb(207, 77, 17);
}
.head1-style{
    align-items: center;
    background-color: black;
    padding: 0cap;
    margin:0%;
    height: 300px;
    color: brown;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}